extends ../layout/layout.pug
block content
    h1#Bglogin
        .container
                h1#loginBookStore(style="padding-top: 150px;") Books Store
                h3 Login
                if error
                    each errors in error
                        .alert.alert-danger= error
                form(action="/auth/login", method="POST")
                    .form-group
                        label(style="font-size: 20px")(for="email") Email
                        input#email.form-control(name="email" , type="text", value=values ? values.email : '')

                    .form-group
                        label(style="font-size: 20px")(for="password") password
                        input#password.form-control(name="password" , type="password", value=values ? values.password : '')
                    button(style="width : 200px; height: 50px; margin-left: 400px").btn.btn-info Login
                a#registration(href = "/auth/registration") Registration